

h1 { color: #14cb45;
text-align: center;
font-weight: bold;
}

.OdinRecipes {
    background-color: lightblue;
  }
.lasagna { background-color:rgb(151, 242, 133) ;}

.chickenfriedrice { background-color:rgb(250, 168, 250) ;}
ul { text-align: center;}
.carrotcake1 { background-color: bisque;}
 
.carrotcake { text-align: center;}


img {
    width: 50%;
    height: auto;
  }

  #homemadelasagne { text-align: center;}
